{% extends 'Quiz/base.html' %}
{% block body%}
{% load static %}

{% if messages %}
<ul class="messages flex justify-center my-8 text-xl font-bold text-red-500">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<div class="flex justify-center my-24">
    <div class="w-full max-w-xs">
        <form method="post">
          {% csrf_token %}
            <div class="mb-4">
                <label  class="flex justify-center text-gray-700 text-sm font-bold mb-2" for="username">
                    Old password
                </label>
                <input 
                    name="old_password" 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
                    type = "password"
                >
            </div>
            <div class="mb-4">
                <label  class="flex justify-center text-gray-700 text-sm font-bold mb-2" for="username">
                    New password
                </label>
                <input 
                    name="new_password1" 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
                    type = "password"
                >
            </div>
            <div class="mb-4">
                <label  class="flex justify-center text-gray-700 text-sm font-bold mb-2" for="username">
                    Confirm New password
                </label>
                <input 
                    name="new_password2" 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
                    type = "password"
                >
            </div>
         
          <div class="flex items-center justify-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Change Password
            </button>
          </div>
        </form>
    </div>
</div>


{% endblock %}